{% extends 'base.html.twig' %}

{% block title %}Hello AccountController!{% endblock %}

{% block body %}
    <div>
        <h2>Mon compte</h2>
        <a href="{{ path('app_account_adress') }}">Ajouter une adresse</a>
        - Modifier mon mot de passe

        <div {{ react_component('AccountAdress') }}></div>
    </div>
{% endblock %}
